#comment-submit {
	font-fimaly: arial;
}
#comment-submit textarea {
	min-width: 100%;
	background-color: inherit;
	font-family: arial;
	margin-top: 0.5em;
}
#comment-submit .submit {
	float: right;
}
#comment-submit .author  {
	float: left;
	background-color: inherit;
	font-family: arial;
}
#comment-container {
	font-family: arial;
	word-spacing: inherit;
}
.comment {
	margin-left: 2em;
	margin: 1em;
	padding: 0.5em;
	border: 1px solid grey;
	background-color: #F0F0F0;
	font-family: arial;
	word-spacing: inherit;
}
.author {
	float: left;
}
.date {
	float: right;
	color: Grey;
}
.comment-body {
	clear: both;
	padding-left: 1em;
}
