#comment-submit {
	font-fimaly: arial;
}
#comment-submit textarea {
	min-width: 100%;
	background-color: inherit;
	font-family: arial;
	margin-top: 0.5em;
}
#comment-submit .submit {
	float: right;
}
#comment-submit .author  {
	float: left;
	background-color: inherit;
	font-family: arial;
}
#comment-container {
	font-family: arial;
	word-spacing: inherit;
}

/* Targets all comments */
.comment {
	margin-top: 1em;
	margin-left: 0;
	padding: 0.5em;
	border: 1px solid grey;
	background-color: #F0F0F0;
	font-family: arial;
	word-spacing: inherit;
}

/* Targets all child comments */
.comment .comment {
	 margin-top: 0.5em;
	margin-bottom: 0;
}

.author {
	float: left;
}
.comment-radio-btn {
	float: left;
}
.date {
	float: right;
	color: Grey;
}
.comment-body {
	clear: both;
	padding-left: 2em;
	padding: 1em;
	padding-top: 0em;
	word-wrap: break-word;
}
